manifest {
  name = 'ont-tools'
  description = 'ONT pipeline for reads QC and mapping.'
  homePage = 'https://github.com/ccdmb/ONT-toolkit'
  author = 'Kristina K. Gagalova'
  mainScript = 'main.nf'
  nextflowVersion = '>=22.03'
  version = "v0.0.1"
}

params.custom_config_base = "."
includeConfig("nfcore_custom.config")

process {
    // ALL PROCESSES
    cache        = true
    scratch      = false
    stageInMode  = 'symlink'
    stageOutMode = 'rsync'

    // DEFAULT RESOURCES
    max_cpus         = 8
    memory           = '4.GB'
    max_memory       = '8.GB'
    
    // SPECIFIC RESOURCES

}

plugins {
  id 'nf-validation'
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if (type == 'memory') {
    try {
      if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'time') {
    try {
      if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'cpus') {
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
